
.form-planning {
    margin-top: 15px;
}
.form-planning input{
    margin-bottom: 15px;
}

.form-planning input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin-right: 10px;
} 
.form-planning label{
    cursor: pointer;
    color: #435668;
}