
@media only screen and (max-width: 700px) {
    .box-container{
        display: block;
        
    }

    .center-box{
        display: block;
        border-radius: 0px;
        padding: 10px;
    }

    .left-box{
        width: 100%;
        padding: 0px;
    }
    .button-top-left {
        /* display: none; */
    }

    .slidebar h1 {
        font-size: 25px;
    }
    .right-box{
        width: 100%;
    }
}