

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
    font-family: Sans-serif , Tahoma, Geneva, Verdana ;
    letter-spacing: 0.1px;
}

::placeholder {
    color: #8FA4BB;;
}

.box-container {
    background-color: #4352E1;
    display:flex;
    width: 100vw;
    height: 100vh; 
    align-items: center;
    justify-content: center;
}
.center-box {
    background-color: #FFFFFF;
    display:flex;
    height: auto;
    width: auto;
    border-radius: 15px;
    padding: 7px;
}

/* right box css */
.right-box {
    position: relative;
    width: 35%;
    padding: 10px;
    padding-bottom: 35px;
    border-radius: 15px;
    background-color: #F6F8F9;
    border: solid 2px #E7EBF1;
}

.top-right-box{
    display: flex;
    justify-content: space-between;
}

.top-right-box h6 {
    margin: 5px 0px 0px 5px;
    color:#61819F;
    font-size: 15px;
}

.top-right-box button {
    color: #61819F;
    background-color: #F6F8F9;
    margin: 5px 5px ;
    border-radius: 50%;
    font-size: 15px;
    border : none;
    cursor: pointer;
}
.top-right-box button:hover {
    background-color: #F6F8F9;
}
.footer-rightbox {
    position: absolute;
    bottom: 5px;
    width: 100%;
    left: 0;
    padding: 0px 10px;
}

/* right box css */






/*left box css*/
.left-box {
    width: 65%;
    padding: 11px 15px 11px 20px;
}

.top-left-box {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.status{
    color: #8099B3;
    margin-left: -5px;
}

.button-top-left{
    display: flex;
}

.button-top-left button{
    margin-left: 13px;
    border: none;
    border-radius: 5px;
    width: 20px;
    font-size: 16px;
    cursor: pointer;
    color:  #6A88A5;
    background-color: #FFFFFF;
}
.button-top-left button:hover {
    background-color: rgb(221, 220, 220);
}

.slidebar{
    margin-top: 20px;
}

.slidebar h1{
    color: #263340;
}
.slidebar-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #F2F5F7;
    width: 200px; 
    height: 40px;
    border-radius: 10px;
    margin-top: 15px;
}

.slidebar-button button {
    height: 30px;
    width: 90px;
    border-radius: 6px;
    cursor: pointer;
}

.slidebar-button  .b1 {
    background-color: #F2F5F7;
    border: none;
    color: #6886A4;
}

.slidebar-button .b1:hover {
    background-color: #FFFFFF;
}

.slidebar-button  .b2 {
    background-color: #FFFFFF;
    border: solid 2px #D5DDE5;
    color: #3A4E61;
}

.slidebar-button  .b2:hover {
    background-color: #F2F5F7;
}

.footer-slidebar {
    display: flex;
    margin-top: 20px;
    margin-left: 10px;
    justify-content: space-between;
}

.left-footer {
    display: flex;
}
.left-footer > i {
    color: #bec3c9;
    font-size: 25px;
}

.footer-slidebar p {
    display: flex;
    background-color: #4352E1;
    color: #FFFFFF;
    width: 30px;
    margin-left: 7px;
    border-radius: 5px;
    font-size: 15px;
    align-items: center;
    justify-content: space-around;
}

.footer-slidebar button {
    background-color: #FFFFFF;
    padding: 5px 13px 5px 13px;
    border: solid 2px #E3E8EE;
    border-radius: 5px;
    color: #6281A0;
    cursor: pointer;
}
.footer-slidebar button:hover {
    background-color: #E3E8EE;
}

.planning {
    margin-top: 15px;
    margin-left: 10px;
}

.planning p {
    margin-right: 10px;
    color: #839CB5;
}

.planning hr {
    color:  rgb(224, 224, 224 , 0.3);
}

.design {
    display: block;
    margin-left: 10px;
}

.design p {
    margin-right: 10px;
    color: #839CB5;
}

.design hr {
    color: rgb(224, 224, 224 , 0.3);
}